<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mie:Nashigi</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Mie:Nashigi</h1>
        <nav>
            <span class="nav-label">contents:</span>
            <a href="/" class="active">Home</a>
            <a href="/music">Music</a>
            <a href="/illustration">Illustration</a>
            <a href="/game">Game</a>
            <span class="nav-label"> | </span>
            <span class="nav-label">link:</span>
            <a href="https://www.youtube.com/@MieNahiGi" target="_blank">YouTube</a>
            <a href="https://x.com/MieNashiGi_V" target="_blank">X</a>
            <a href="https://coconala.com/services/2470642" target="_blank">coconala</a>
        </nav>
    </header>
    <main>
        <h1>HOME Topics</h1> 
        <div class="left-line">
            <section>
                <h2>-NEXT SONG-</h2>
                <div class="left-line">
                    <h3>Work in progress!</h3>
                </div>
                <h2>-NEW SONG-</h2>
                <div class="left-line">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5HX_Zd1p0cI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <a href="https://youtube.com/playlist?list=PL7gLmVio48X4VorVEQZuy4wWq7MRWc_YJ&si=QQL-PJ_jUPRNyLyz" target="_blank" >→More song info</a>
                </div>
            </section>
            <section>
                <h2>-GAME-</h2>
                <div class="left-line">
                    <h2>準備中</h2>
                    <a href="/game">→More game info</a>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <p>External Links:</p>
        <a href="https://otomachiuna.jp/" target="_blank">音街ウナ公式</a>
        <a href="https://www.clipstudio.net/ja/" target="_blank">ClipStudio</a>
    </footer>
</body>
</html>
