<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mie:Nashigi</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Mie:Nashigi</h1>
        <nav>
            <span class="nav-label">contents:</span>
            <a href="/">Home</a>
            <a href="/" class="active">Music</a>
            <a href="/illustration">Illustration</a>
            <a href="/game">Game</a>
            <span class="nav-label"> | </span>
            <span class="nav-label">link:</span>
            <a href="https://www.youtube.com/@MieNahiGi" target="_blank">YouTube</a>
            <a href="https://x.com/MieNashiGi_V" target="_blank">X</a>
            <a href="https://coconala.com/services/2470642" target="_blank">coconala</a>
        </nav>
    </header>
    <main>
        <h1>MUSIC</h1>
        <div class="left-line">   
        <h2>MY LIST</h2>
            <div class="left-line">    
                <div class="playlist-container">
                    <a href="https://youtube.com/playlist?list=PL7gLmVio48X4VorVEQZuy4wWq7MRWc_YJ&si=QQL-PJ_jUPRNyLyz" 
                       target="_blank" 
                       class="playlist-link"></a>
                    <div class="background-image"></div>
                    <div class="playlist-content">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/YouTube_Logo_2017.svg" 
                             alt="YouTube Logo" 
                             class="playlist-logo">
                        <div class="playlist-text-container">
                            <span class="playlist-text">Click to MyMusicPlaylist</span>
                        </div>
                    </div>
                </div>
            </div>
        <h2>NEXT SONG</h2>
        <div class="left-line">
            <h2>WIP!</h2>
        </div>

    </main>
    <footer>
        <p>External Links:</p>
        <a href="https://otomachiuna.jp/" target="_blank">音街ウナ公式</a>
        <a href="https://www.clipstudio.net/ja/" target="_blank">ClipStudio</a>
    </footer>
</body>
</html>
